.data-grid {
    background-color: rgb(231, 243, 255);
}
.admin-content {
    margin: 0 2rem;
    width: auto !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}
.card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 3rem 0;
}